body{
    background-image: url(img/output\ \(5\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#canvas{
    display: flex;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}
.naslov{
    margin: auto;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: beige;
    border-radius: 100px;
    width: 800px;
    height: 100px;
    
}
.naslov1{
    text-align: center;
    justify-content: center;
    align-items: center;

}
h1{
    background: linear-gradient(60deg,purple,red,yellow,green,blue);
    -webkit-background-clip: text;
    color: transparent;
}
.tockice{
    height: 40px;
    width: 700px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#tocke{
    display: inline;
}
.tabelca{
    text-align: center;
    margin: auto;
    font-size: 24px;

}
