body{
    background-image: url(img/back.jpg);
}
#canvas{
    display: flex;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8);
}
.naslov{
    margin: auto;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: beige;
    border-radius: 100px;
    width: 1000px;
    height: 150px;
    
}
.naslov1{
    text-align: center;
    justify-content: center;
    align-items: center;

}
h1{
    background: linear-gradient(60deg,purple,red,yellow,green,blue);
    -webkit-background-clip: text;
    color: transparent;
}
